# 工作流名称
name: Sync-Images-to-AliYunDockerRegistry
# 工作流运行时显示名称
run-name: ${{ github.actor }} is Sync Images to AliYun Docker Registry.
# 怎样触发工作流
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

  # Allows you to run this workflow manually from the Actions tab
  workflow_dispatch:

# 工作流程任务（通常含有一个或多个步骤）
jobs:
  syncimages:
    runs-on: ubuntu-latest
    steps:
    - name: Checkout Repos
      uses: actions/checkout@v3
      
    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v2.9.1

    - name: Login to AliYun Docker Registry
      uses: docker/login-action@v2.2.0
      with:
        registry: registry.cn-hangzhou.aliyuncs.com
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_PASSWORD }}
        logout: false
        
    - name: Use Skopeo Tools Sync Image to AliYun Docker Registry
      run: |
        #!/usr/bin/env bash
        skopeo copy --all docker://redis:5 docker://registry.cn-hangzhou.aliyuncs.com/lue/redis:5
        skopeo copy --all docker://mysql:5.7 docker://registry.cn-hangzhou.aliyuncs.com/lue/mysql:5.7
        skopeo copy --all docker://hanchuanchuan/goinception docker://registry.cn-hangzhou.aliyuncs.com/lue/goinception
        skopeo copy --all docker://hhyo/archery:v1.13.0 docker://registry.cn-hangzhou.aliyuncs.com/lue/archery:v1.13.0
